<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      ><a [routerLink]="['content', Id]">{{ cardTitle }}</a></mat-card-title
    >
    <mat-card-subtitle
      ><a [routerLink]="['content', Id]">{{ cardTitle }}</a></mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image src="{{ photoCover }}" alt="Photo of a Shiba Inu" />
  <mat-card-content class="description-card">
    <p>
      {{ cardDiscription }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
