<div class="container-big-card">
  <div class="big-card-image">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8EMna-g3kzlF3F6baZE6ovQ_vGe2-qElWAw&s"
      alt="image-card"
      height="250px"
    />
  </div>
  <div class="big-card-title">
    <h1><a href="#">Novo card title</a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#">
        Descrição para inseriri no card da pagina Descrição para inseriri no
        card da pagina Descrição para inseriri no card da pagina Descrição para
        inseriri no card da pagina Descrição para inseriri no card da pagina
        Descrição para inseriri no card da pagina Descrição para inseriri no
        card da pagina Descrição para inseriri no card da pagina
      </a>
    </p>
  </div>
</div>
