.example-card {
  //width: 93%;
  margin: 2rem;
  background-color: #111;
  color: #666;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.description-card {
  margin-top: 2rem;
}
