.menu-title-container {
  > h1 {
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 9rem;
    font-weight: bold;
    display: flex;
    justify-content: center;

    @media (max-width: 960px) {
      font-size: 8rem;
    }

    @media (max-width: 560px) {
      font-size: 5rem;
    }
  }

  > hr {
    color: #fff;
    margin-bottom: 1rem;
  }
}
